/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'montserrat', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: #fff2f2;
}

h2, h3 {
    color: #333;
}

header {
    background-color: #242429;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav .logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    align-items: center;
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.3s ease;
}

nav ul li a:hover {
    background-color: #003f7f;
    border-radius: 5px;
}

.menu-icon {
    font-size: 28px;
    display: none;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }

    nav ul{
        flex-direction: column;
        width: 100%
    }

    nav ul.hidden {
        display: none;
    }
    .menu-icon {
        display: flex;
        align-items: center;
    }
}


/*gallery section*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    opacity: 0; /* Initially hidden */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.text {
    color: white;
    font-size: 28px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.gallery-item:hover img {
    transform: scale(1.05); /* Slight zoom on hover */
}

.gallery-item:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}

/*contact*/
.contact {
    background-color: #fff;
    padding: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the button horizontally */
}

h2{
    text-align: center;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #357ab8;
}

/* Hero Section Styles */
.hero {
    background-image: url('lika.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 800px;
    padding: 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #242429;
    color: white;
    padding: 12px 30px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.cta-button:hover {
    background-color: #003f7f;
}

/* About Section Styles */
.about {
    background-color: #fff;
    padding: 60px 0;
    text-align: center;
}

.about p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.1em;
    color: #666;
}

/*footer*/

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* social-links */
ul.social-links {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 10px;
    display: flex; /* Display list items horizontally */
    justify-content: center; /* Center the list within its container */
    gap: 20px; /* Space between each icon */
}

ul.social-links li {
    display: inline-block;
}

ul.social-links li a {
    text-decoration: none; /* Remove underline */
    color: #fff; /* Default icon color */
    font-size: 24px; /* Icon size */
    transition: color 0.3s, transform 0.3s; /* Smooth transition effects */
}

ul.social-links li a:hover {
    color: #357ab8; /* Icon color on hover */
    transform: scale(1.1); /* Slightly enlarge icon on hover */
}

ul.social-links li a i {
    display: block; /* Ensures icons are displayed as block elements */
}